body{
   background: #9542E1;
}

footer {
  animation-duration: 25s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}


@keyframes slidein {
  from {
     margin-left: -20%;
     width: 100%;
  }

  to {
     margin-left: 115%;
     width: 300%; 
  }
}
